# Project exclude paths
/out/

# Maven output files
/target/
/dependency-reduced-pom.xml

# Editor specific
/nb-configuration.xml
/nbproject/

### Intellij ###

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml
.idea/kotlinScripting.xml

# Maven
.idea/libraries

.paper-nms
/run
