# Project exclude paths
/out/

# Gradle
/build/
/.gradle/
/gradle/wrapper/gradle-wrapper.jar

# Maven output files
/target/
/dependency-reduced-pom.xml

# Editor specific
/nb-configuration.xml
/nbproject/

### IntelliJ ###

# User-specific stuff
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml
.idea/kotlinScripting.xml
.idea/jarRepositories.xml
.idea/dataSources.local.xml
.idea/httpRequests/
.idea/usage.statistics.xml
.idea/shelf/

# Maven
.idea/libraries

### VS Code ###
.vscode/

### Java ###
*.class
*.jar
*.war
*.ear
hs_err_pid*
replay_pid*

### Logs ###
*.log

# Paper / Minecraft
.paper-nms
/run
